.cart-page {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    /* padding: 20px; */
}

.cart-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 1000px;
    /* margin: 0 auto; */
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */

}

.cart-left {
    flex: 2;
}
.cart-item-image{
    width: 150px; /* Réduit la taille de l'image */
    height: 150px; /* Maintient les proportions */
    object-fit: cover; /* Couvre le conteneur sans déformation */
    border-radius: 10px; /* Arrondi les bords */
    margin-bottom: 10px; /* Espace sous l'image */
}
.recently-viewed{
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    /* max-width: 800px; */
    margin-top: 20px;
    /* margin: 0 auto; */
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */
}

/* Cart.css */
.modal-content {
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
  }
  
  .modal-header {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .modal-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff; /* couleur bouton par défaut */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-button:hover {
    background-color: #0056b3; /* couleur au survol */
  }
  
  .modal-button.secondary {
    background-color: #6c757d; /* bouton secondaire */
  }
  
  .modal-button.secondary:hover {
    background-color: #5a6268;
  }
/* Cart.css */
.modal-login-content {
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
  }
  
  .modal-login-header {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
    

.cart-item-detail{
    margin-left: 100px;
}

.cart-right {
    width: 20%;
    position: fixed; 
    top: 100px; /* Vous pouvez ajuster cette valeur pour l'alignement vertical */
    right: 20px; /* Garde un espace de 20px à droite de l'écran */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour mieux visualiser la boîte */
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.final-price {
    font-size: 18px;
    color: #ff5722;
    font-weight: bold;
}


.recently-viewed-items {
    display: flex;
    overflow-x: auto; /* Ajoute le défilement horizontal */
    padding: 10px;
}

.recently-viewed-item {
    flex: 0 0 auto; /* Empêche l'élément de se rétrécir */
    margin-right: 20px; /* Espace entre les produits */
    cursor: pointer; /* Change le curseur en pointeur */
}

.recently-viewed-image {
    width: 150px; /* Réduit la taille de l'image */
    height: 150px; /* Maintient les proportions */
    object-fit: cover; /* Couvre le conteneur sans déformation */
    border-radius: 10px; /* Arrondi les bords */
    margin-bottom: 10px; /* Espace sous l'image */
}

.recently-viewed-item p {
    margin: 0; /* Supprime les marges */
    text-align: center; /* Centre le texte */
    font-size: 14px; /* Taille du texte */
}

.modal-verification-content {
    background-color: #fff; /* Couleur de fond blanche */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    border: 1px solid #ccc; /* Bordure grise claire */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre */
    display: flex;
    flex-direction: column; /* Colonne pour aligner le contenu */
    align-items: center; /* Centrer le contenu horizontalement */
  }
  
  .modal-verification-header {
    font-size: 24px; /* Taille de police pour le titre */
    margin-bottom: 10px; /* Espacement sous le titre */
    color: #333; /* Couleur du texte */
  }
  
  .modal-verification-content p {
    font-size: 16px; /* Taille de police pour le texte */
    margin-bottom: 20px; /* Espacement sous le texte */
    color: #555; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
  }
  
  .modal-verification-content button {
    padding: 10px 20px; /* Espacement intérieur du bouton */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis pour le bouton */
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    font-size: 16px; /* Taille de police du bouton */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
  }
  
  .modal-verification-content button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }
  