.before-footer {
  background-color: #0808cd;
  padding: 20px;
  color: white;
}

.before-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permet à la section de s'ajuster sur plusieurs lignes si nécessaire */
}

.newsletter h3 {
  color: white;
  margin-bottom: 10px;
}

.newsletter-input input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-input button {
  padding: 10px 20px;
  background-color: #fff;
  color: #f06108;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-input button:hover {
  background-color: #ff8442;
  color: white;
}

.legal-terms {
  margin-top: 10px;
  color: white;
  font-size: 14px;
}

.download-app .app-links img {
  margin-right: 15px;
  width: 150px;
}

/* Media Queries pour tablettes */
@media (max-width: 768px) {
  .before-footer-content {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-input input, 
  .newsletter-input button {
    width: 100%;
    margin: 5px 0; /* Alignement pour les petits écrans */
  }

  .download-app .app-links img {
    width: 120px;
    margin-bottom: 10px; /* Réduction de la taille de l'image et espacement supplémentaire */
  }
}

/* Media Queries pour les téléphones */
@media (max-width: 480px) {
  .before-footer-content {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-input input, 
  .newsletter-input button {
    width: 100%;
    margin-bottom: 10px;
  }

  .download-app .app-links img {
    width: 100px; /* Encore plus réduit pour les téléphones */
    margin-bottom: 10px;
  }

  .legal-terms {
    font-size: 12px; /* Réduction de la taille de police pour les petits écrans */
  }
}
