.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f8;
}

.category-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.category-section {
  margin-bottom: 40px;
}

.category-name {
  font-size: 24px;
  color: #0808cd;
  margin-bottom: 10px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex: 1 1 calc(25% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.image-nav-button:first-of-type {
  left: 5px;
}

.image-nav-button:last-of-type {
  right: 5px;
}

.product-info {
  padding: 10px;
  background-color: #f9f9f9;
}

.product-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-price {
  /* text-decoration: line-through; */
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.discount-badge {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.no-discount {
  color: grey;
}

.add-to-cart-btn {
  background-color: #0808cd;
  color: #fff;
}

.final-price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

/* Responsivité mobile */
@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 20px); /* 2 colonnes sur les tablettes */
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 1 100%; /* 1 colonne sur les petits écrans */
  }
  
  .category-title {
    font-size: 22px;
  }

  .category-name {
    font-size: 20px;
  }

  .product-title {
    font-size: 16px;
  }

  .final-price {
    font-size: 18px;
  }
}
