.phone-update-page {
    background-image: url('/src/assets/images/Screenshot\ 2024-10-05\ 005555.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Légèrement transparent */
    /* padding: 30px; */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  
  h6 {
    font-weight: bold;
  }
  